.sidebar-collapsed .bg-light {
	width: 60px;
}

.sidebar-collapsed .sidebar-content {
	display: none;
}

#filter-enable-container {
	background-color: deepskyblue;
	border-radius: 20px;
}

#sidebar-filters {
	border: 3px solid cadetblue;
	border-radius: 10px;
}

/* CSS for transition effect */
#filter-by-author {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease, opacity 0.3s ease;
}

#filter-by-author.show {
	opacity: 1;
	max-height: 500px;
	/* Adjust the height as needed */
}

/* CSS for transition effect */
#filter-by-range {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease, opacity 0.3s ease;
}

#filter-by-range.show {
	opacity: 1;
	max-height: 500px;
	/* Adjust the height as needed */
}

/* CSS for transition effect */
#filter-by-difficulty {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease, opacity 0.3s ease;
}

#filter-by-difficulty.show {
	opacity: 1;
	max-height: 500px;
	/* Adjust the height as needed */
}

/* CSS for transition effect */
#price-select-container {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease, opacity 0.3s ease;
}

#price-select-container.show {
	opacity: 1;
	max-height: 500px;
	/* Adjust the height as needed */
}

/* CSS for transition effect */
#rating-select-container {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease, opacity 0.3s ease;
}

#rating-select-container.show {
	opacity: 1;
	max-height: 500px;
	/* Adjust the height as needed */
}

/* CSS for transition effect */
#enrollment-select-container {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease, opacity 0.3s ease;
}

#enrollment-select-container.show {
	opacity: 1;
	max-height: 500px;
	/* Adjust the height as needed */
}



.author-element {
	border: 2px solid black;
	border-radius: 5px;
}

.sort-mode-btn {
	border: 2px solid black;
}

.rotate180 {
	transform: rotate(180deg);
	transition: transform 0.3s ease;
	/* Smooth transition effect */
}

.rotate0 {
	transform: rotate(0deg);
	transition: transform 0.3s ease;
	/* Smooth transition effect */
}

.course-card {
	transition: box-shadow 0.3s ease;
}

.course-card:hover {
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}



.course-card img {
	transition: transform 0.3s ease;
}

.course-img-section {
	position: relative;
}

.course-img {
	position: relative;
}

.course-img-btns {
	position: absolute;
	margin-top: -58px;
	background-color: deepskyblue;
	width: 100%;
	
	opacity: 0; /* Initially hide the buttons */
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease; /
}

.course-img-btns a:hover {
	background-color: dodgerblue;
}

.course-card:hover .course-img-btns {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition for visibility */
}